.german-flag {
  height: 300px;
  width: 500px;
  position: relative;
}
.black {
  background-color: black;
  width: 500px;
  height: 100px;
}
.h-red {
  background-color: red;
  width: 500px;
  height: 100px;
}
.yellow {
  background-color: yellow;
  width: 500px;
  height: 100px;
}
/* Hungarian Flag */
.german-flag:hover .black {
  background-color: #CE2939;
}
.german-flag:hover .h-red {
  background-color: #fff;
}
.german-flag:hover .yellow {
  background-color: #477050;
}
/* French Flag */
.french-flag {
  height: 300px;
  width: 450px;
  position: relative;
  margin-top: 50px;
}
.blue {
  background-color: #0055A4;
  height: 300px;
  width: 150px;
  position: absolute;
  left: 0px;
}
.white {
  background-color: #fff;
  height: 300px;
  width: 150px;
  position: absolute;
  left: 150px;
}
.v-red {
  background-color: #EF4135;
  height: 300px;
  width: 150px;
  position: absolute;
  right: 0px;
}
/* Irish Flag */
.french-flag:hover .blue {
  background-color: #169B62;
}
.french-flag:hover .v-red {
  background-color: #FF883E;
}